.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 0 20px;
}

.logo{
    width: 100px;
}

.nav-items > ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}

.nav-items > ul > li{
    margin: 10px;
    padding: 10px;
}

.res-container{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.res-card{
    text-align: center;
    margin: 5px;
    padding: 15px;
    width: 300px;
    /* height: 400px; */
    border: 1px solid white;
    border-radius: 20px;
}

.res-card:hover{
    /* border: 1px solid black; */
    cursor: pointer;
    background-color: #f0f0f0;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.search{
    padding: 10px;
}

.res-logo{
    width: 95%;
    height: 250px;
    border-radius: 20px;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    margin: 20px;
    width: 300px;
    height: 400px;
    background: #f0f0f0;
}

.search-input{
    margin: 15px;
}